@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
    border: none;
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.is-focused, .is-pseudo-focused {
    outline: none !important;
    border: none;

}

body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#app_container {
    width: 100%;
    display: block;
}

input {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 32px;
}


#logo {
    width: 78px;
    height: 78px;
    margin: 20px auto;
    z-index: 20;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 76px;
    left: calc(50% - 39px);
    /*background-position-x: 44%;*/
    /*background-position-y: 44%;*/
    /*box-shadow: 0 0 4px #00000038;*/
    border-radius: 100%;
}

#search_box {
    background: #fff;
    position: relative;
    display: block;
    margin: 70px auto;
    width: 800px;
    padding: 20px;
    padding-top: 190px;
    border: 1px solid #ededed;
    border-radius: 12px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.07);
}

#search_box_header {
    position: absolute;
    left: 0;
    background-size: cover;
    background-position: center;
    top: 0;
    border-radius: 12px 12px 0 0;
    width: 100%;
    z-index: 0;
    height: 150px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);

}

#search_input_container {
    position: relative;
    width: 80%;
    margin: 40px 10%;
}

#search_input_container .Select-control {
    display: block;
    line-height: 30px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(229, 229, 229, 0.7);
    font-size: 14px;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

#search_input_container .Select-menu-outer {
    border-radius: 12px;
    overflow: hidden;
    margin-top: 5px;
    font-size: 13.5px;
    border-color: #ededed;
}

#search_input_container .Select-control .Select-placeholder, #search_input_container .Select-control .Select-value {
    line-height: 40px;
}

#little_search_icon {
    width: 25px;
    height: 25px;
    background-size: cover;
    position: absolute;
    right: 15px;
    top: 7px;
}

.position_badge {
    background: #009688;
    color: #fff;
    margin: 0 5px;
    font-size: 11px;
    padding: 2px 6px;
    border-radius: 9px;
    font-weight: 600;
}

.search_result {
    display: block;
    padding: 25px 15px;
    border-bottom: 1px dashed #c9c9c9
}

.search_result:last-child {
    border-bottom: none;
}

.search_result .flag {
    width: 22px;
    border-radius: 3px;
}

#search_no_result {
    display: block;
    text-align: center;
    padding: 35px 0;
    font-size: 21px;
    color: #0000004f;
    font-weight: 700;
}

#go_to_player_page {
    background: #0064b1;
    color: #fff;
    line-height: 30px;
    display: block;
    width: fit-content;
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 500;
    margin: 10px auto;
    margin-bottom: 40px;
}

#go_to_player_page .font_icon {
    float: right;
    line-height: 31px;
    margin-left: 7px;
}


.player-chosen-container {
    /*width: 30%;*/
    height: 30%;
    background: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid #ededed;
    /*border-radius: 8px;*/
    /* margin: 10px; */
    /*box-shadow: 0 0 2px rgba(0, 0, 0, 0.07);*/
    overflow: hidden;
}

.half {

    display: block;
    width: 50%;
    float: left;
    flex-direction: column;
    align-items: center;

}

.half:first-child {
    padding-right: 10px;
    border-right: 1px solid #ededed;
}

.half:nth-child(2) {
    padding-left: 10px;
}


.player-image {
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    overflow: hidden;
    order: -1; /* Move the player image to the top */
    width: fit-content;
    margin: auto;
}

.player-image img {
    width: 100px;
    height: 140px;
    object-position: center;
    object-fit: cover;
    border-radius: 6px; /* Added rounded corners */
    margin-top: 10px; /* Added margin from the top */
}

.player-name {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    margin-top: 5px;
}

.team-flag img {
    width: 40%;
    overflow: hidden;
    margin-top: 5px;
    width: 20px;
    border-radius: 2px;
    display: block;
    margin: 5px auto;
    border: 1px solid #00000026;
    height: 12px;

}


#search_input_container .Select-control {
    width: 100%; /* Set the width to 100% */
    height: 40px;
    border: 1px solid rgba(229, 229, 229, 0.7);
    font-size: 14px;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

#search_input_container .Select-menu-outer {
    border-radius: 12px;
    overflow: hidden;
    margin-top: 5px;
    font-size: 12.5px;
    border-color: #ededed;
}

#search_input_container .Select-control .Select-placeholder,
#search_input_container .Select-control .Select-value {
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Add the following style to ensure the selected player information is displayed properly */
#selected-player-info {
    text-align: center;
    /*margin-top: 20px;*/
}

.half .player_image img {
    border-radius: 6px;
    margin-top: 10px;
    width: 100px;
    object-position: center;
    object-fit: cover;
    height: 140px;
}

.half .player-name {
    font-weight: 700;
    font-size: 14px;
    margin-top: 10px;
}


/* adjusts the dropdown in player_chosen.py */
#clicked_player #select_player_name_chosen {
    font-size: 14px; /* Adjust the font size as needed */
    width: 100%; /* Adjust the width as needed */
    margin-bottom: 20px;
}

#clicked_player {
    display: block;
    float: right;
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: cent?er;*/
    width: 50%;
    padding: 0 15px;
}


/*#rectangle_specific_plots {
    margin: 20px;
    margin-top: 0px;
    margin-left: 36px;
    background: #fff;
    padding-left: 10px;
    width: 50px;
    height: 1000px;
    width: 50%;
    display: block;
    padding: 20px 0;
    border-left: 1px solid #ededed;*/

#rectangle_specific_plots {
    /* margin: 20px; */
    margin-top: 0px;
    background: #fff;
    /* height: 1000px; */
    width: 50%;
    /* border-radius: 8px; */
    padding: 20px 0;
    /* border: 1px solid #ededed; */
    /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.05); */
    float: left;
}

#rectangle_general_plots {
    /* margin: 20px; */
    margin-top: 0px;
    background: #fff;
    /* height: 1000px; */
    width: calc(50% - 10px);
    /* border-radius: 8px; */
    padding: 20px 0;
    /* border: 1px solid #ededed; */
    /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.05); */
    float: left;
    margin-left: 10px;
    border-left: 1px solid #f7f7f7;

}


#columns {
    /*display: flex;*/
    width: calc(100% - 340px);
    position: relative !important;
    float: left;
    margin-left: 10px;
}

#selected_player_subpage {
    justify-content: space-around;
    align-items: center;
    background: #ddffdf;
    width: 400px;
    height: 350px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}

#picture_of_soccer_player, #search_for_bookmarked_players {
    background: #ffffff;
    width: 180px;
    height: 320px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
}

#the_actual_picture, #the_search_bar {
    background: #8b8b8b;
    width: 150px;
    height: 250px;
    border-radius: 25px;
    margin-top: -20px;
}

.player-name, .player-name-search {
    margin-top: 10px;
}

#general_page section {
    width: calc(100%);
    height: auto;
    overflow: hidden;
}

header {
    height: 60px;
    padding: 0 30px;
    border-bottom: 1px solid #ededed;
    border-top: 3px solid #18243b;
    box-shadow: 0 -3px 6px #0000004a;
}

header #header_logo {
    height: 44px;
    float: left;
    margin-top: 7px;
}

header #bookmarked_checkout {
    height: 44px;
    margin-top: 7px;
}

.player_chosen_show_aside #aside {
    width: 330px;
    opacity: 1;
}

.aside_content {
    width: 328px !important;
}

.player_chosen_hide_aside #aside {
    width: 10px !important;
    border-right: none;

    /*opacity: 0;*/
}

#close_aside {
    transition: 0.5s;
}

.player_chosen_hide_aside #aside #close_aside {
    opacity: 1;
    transform: rotate(180deg);
    right: -20px;
}

.player_chosen_hide_aside #aside .aside_content {
    display: none;
}

#aside {
    float: left;
    position: relative;
    min-height: 100vh !important;
    transition: 0.5s;
    border-right: 1px solid #edededed;
}

#aside .close-aside {
    cursor: pointer;
    position: absolute;
    right: -12px;
    width: 25px;
    height: 25px;
    border: 1px solid #ededed;
    background: #fff;
    border-radius: 7px;
    color: #000000b3;
    line-height: 24px;
    font-size: 19px;
    text-align: center;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    top: calc(50vh - 70px);
    z-index: 10000;
}

#aside .close-aside:hover {
    background: #232b33;
    border-color: #232b33;
    box-shadow: 0 0 2px rgba(35, 43, 51, 0.09);

    color: #fff;
}

#general_page {
    width: 100%;
    height: auto;
    margin: 0;
}

#aside {
    width: 330px;
    float: left;
}

.filters_block {
    width: 100%;
    background: #fff;
    min-height: 300px;
    /*border: 1px solid #ededed;*/
    /*box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);*/
    /* border: 1px solid #ededed; */
    /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.05); */
    /* border-radius: 8px; */
    padding: 20px;
}

.block_title {
    font-weight: bold;
    font-size: 17px;
    color: rgb(51, 51, 51);
    letter-spacing: 0.4px;
    margin-bottom: 30px;
}

.tab_switch {
    width: 90%;
    margin: 20px auto;
    overflow: hidden;
    overflow: hidden;
    line-height: 30px;
    border-radius: 8px;
    font-size: 13px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    font-weight: 500;

}

.tab_switch .tab_switch_option {
    width: 50%;
    color: #3b3b3b;
    cursor: pointer;
    border-right: 1px solid #ededed;
    padding: 0 10px;
    float: left;
}

.tab_switch .tab_switch_option {
    width: 50%;
    color: #3b3b3b;
    cursor: pointer;
    padding: 0 10px;
    border: 1px solid rgba(205, 205, 205, 0.8);
    float: left;
}

.tab_switch .tab_switch_option:first-child {
    border-radius: 8px 0 0 8px;
}

.tab_switch .tab_switch_option:last-child {
    border-radius: 0 8px 8px 0;

}

.tab_switch .tab_switch_option .font_icon {
    float: left;
    font-size: 19px;
    line-height: 30px;
    margin-right: 5px;
}

.tab_switch .tab_switch_option.active {
    background: #009688;
    border-color: #008a7d;
    color: #fff;
}

.filter_block {
    margin-bottom: 25px;
}

.filter_block h3 {
    font-weight: 500;
    color: #000;
    margin-bottom: 16px;
    display: block;
    font-size: 14px;
    text-align: center;
}

#age_slider {
    padding: 0 10px !important;
    margin-top: -10px;
}

#wage_filter {
    border-bottom: 1px solid #ededed;
    padding-bottom: 46px;
}

#map_filter {
    width: 250px;
    height: 150px;
    background-size: cover;
    margin: 20px auto;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#foot_filter {
    width: 250px;
    height: 150px;
    background-size: cover;
    margin: 20px auto;
    border-radius: 8px;
    position: relative;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
}

.position_marker {
    position: absolute;
    background: #000;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: #fff;
    color: #000;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    font-weight: bold;
    transition: 0.4s;

}

.position_marker:hover {
    background: #ef8702;
    color: #fff;
}

#map_filter input[type=checkbox] {
    background: #fff;
    border: 1px solid #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 23px;
    border-radius: 50%;
    width: 23px;
    z-index: 1;
    cursor: pointer;
}

#map_filter input[type=checkbox]:checked {
    background: #ff9100;
    border-color: #ff9100;
}

#map_filter label {
    color: rgba(255, 255, 255, 0);
    position: absolute;
}

#map_filter label::selection {
    color: rgba(255, 255, 255, 0);
    position: absolute;
}

#map_filter label::after {
    position: absolute;
    left: 4px;
    top: 5px;
    z-index: 10000;
    color: #000 !important;
    font-size: 11px;
    font-weight: bold;
}

#map_filter label:nth-child(1) {
    left: 12px;
    top: 64px
}

#map_filter label:nth-child(1):after {
    content: 'GK';
}

#map_filter label:nth-child(2):after {
    content: 'DF';
}

#map_filter label:nth-child(3):after {
    content: 'MF';
}

#map_filter label:nth-child(2):after {
    content: 'DF';
}

#map_filter label:nth-child(3):after {
    content: 'MF';
}

#map_filter label:nth-child(4):after {
    content: 'FW';
}

#map_filter label:nth-child(2) {
    left: 75px;
    top: 20px
}

#map_filter label:nth-child(3) {
    left: 114px;
    top: 64px
}

#map_filter label:nth-child(4) {
    left: 155px;
    top: 108px
}


#foot_filter input[type=checkbox] {
    background: #fff;
    border: 1px solid #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 32px;
    border-radius: 50%;
    width: 32px;
    z-index: 1;
    cursor: pointer;
    position: relative;
}

#foot_filter input[type=checkbox]:checked {
    background: #ff9100;
    border-color: #ff9100;
}

#foot_filter label {
    color: rgba(255, 255, 255, 0);
    position: absolute;
}

#foot_filter label::selection {
    color: rgba(255, 255, 255, 0);
    position: absolute;
}

#foot_filter label::after {
    position: absolute;
    left: 4px;
    top: 5px;
    transform: translate(0%, 40%); /* Center the label */
    z-index: 10000;
    color: #000 !important;
    font-size: 11px;
    font-weight: bold;
}

#foot_filter label:nth-child(1):after {
    content: 'Left';
}

#foot_filter label:nth-child(2):after {
    content: 'Right';
}

#foot_filter label:nth-child(1) { /*Left foot*/
    left: 45%;
    top: 75px
}

#foot_filter label:nth-child(2) { /*Right foot*/
    left: 67%;
    top: 75px
}

#foot_filter label:nth-child(3) { /*Right foot*/
    left: 15px;
    top: 15px
}

.invalid_image {
    width: 100px;
    display: block;
    margin: auto;
    height: 140px;
    padding-top: 20px;
    border: 2px solid #ededed;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05) inset;
    /*background: #00305712;*/
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.invalid_image img {
    width: 90px;
    display: block;
    margin: 5px auto;
}

.unknown-player-icon {

}

.unknown-player-icon img {
    width: 60px;
    display: block;
    margin: 40px auto;
}


#bookmarks_page {
    width: 100%;
    height: auto;
    margin: 0;
}

#bookmarks_page section {
    width: 100%;
    height: auto;
    padding: 0 10px;
    overflow: hidden;
}

.placeholder {
    background: #f8f8f8;
    borer: 1px solid #ededed;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    min-height: 200px;
    line-height: 200px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.58);
    padding: 30px;
    margin: 10px;
    border-radius: 6px;
}

#bookmarked_players_view_title {
    margin: 20px 0;
    display: block;
    text-align: center;
}

#bookmarked_view_plots .placeholder {
    float: left;
    width: calc(50% - 20px);
    margin: 10px;

}

#box_container {
    width: 400px;
    height: 1000px;
    /* float: right; */
    z-index: 999;
    background-color: #EFEFEF;
    position: fixed;
    right: 0;
}

#rectangle {
    position: absolute;
    top: 60px;
    right: 0;
}


#bookmark_clicked_player {
    background: #fff;
    border: 1px solid #d9d9d9;
    padding: 3px 10px;
    font-size: 13px;
    font-family: 'Roboto';
    display: block;
    margin: 15px auto 10px;
    cursor: pointer;
    line-height: 20px;
    border-radius: 14px;
    color: #305160;
}

#bookmark_clicked_player .font_icon {
    float: left;
    line-height: 18px;
    font-size: 18px;
    margin-right: 3px;
    font-weight: 100;
}

#bookmark_clicked_player:hover {
    color: #fff;
    background: #f8b305;
    box-shadow: 0 0 9px #f8b30587;
    transition: 0.4s;
    border-color: #f8bf05;
}

#bookmarked_checkout {

}

#checkout {
    line-height: 54px;
    cursor: pointer;
    color: #000;
    width: 36px;
    border: 1px solid #ededed;
    height: 36px;
    margin-top: 11px;
    border-radius: 12px;
    line-height: 35px;
    font-size: 18px;
    /* box-shadow: 0 0 1px #00000045; */
    color: #0c1418de;
    float: right;
    position: relative;
    background: #fff;
}

#checkout:hover {
    transition: 0.3s;
    border-color: #0c1418de;
    background: #0c1418de;
    color: #fff;
}

#checkout #bookmarks_count {
    position: absolute;
    right: -4px;
    background: #5eaf01;
    bottom: -2px;
    width: 16px;
    height: 16px;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    line-height: 18px;
    border-radius: 7px;
    font-family: 'Roboto';
}

#checkout span {
    line-height: 35px;
    font-size: 20px;
}

#bookmarks_sidebar_back {
    width: calc(100% - 400px);
    height: 100vh;
    transition: 0.5s;
    background: #000000d4;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
}

#bookmarks_sidebar {
    z-index: 1000000;
    position: fixed;
    background: #fff;
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    width: 450px;
    padding: 40px 30px;
    box-shadow: 0 -64px 26px #000;
}

#bookmarks_sidebar h3 {
    font-size: 17px;
    margin-bottom: 20px;
    color: #25aa2a;
    display: block;
    float: left;
}

#bookmarks_sidebar #clear_bookmarks {
    float: right;
    border: 1px solid #ededed;
    background: #fff;
    border-radius: 12px;
    color: #000000b8;
    font-size: 12px;
    padding: 4px 7px;
    cursor: pointer;
    font-family: 'Roboto';
}

#bookmarks_sidebar #clear_bookmarks:hover {
    color: #fff;
    background: #252f3a;
    border-color: #252f3a;;
    transition: 0.5s;
}

#no_bookmarks_yet {
    display: block;
    text-align: center;
    margin-top: 80px;
    color: #485e696b;
}

#no_bookmarks_yet .font_icon {
    font-size: 53px;
    margin-bottom: 15px;
}

#no_bookmarks_yet h4 {
    font-size: 22px;
    font-weight: 600;
}

#bookmarks_sidebar .bookmarked_player {
    display: block;
    margin: 10px 0;
    border-bottom: 1px solid #ededed;
    padding: 15px 0;
}

#bookmarks_sidebar .bookmarked_player .playerAge {
    font-size: 12px;
    float: right;
}

#bookmarks_sidebar .bookmarked_player img {
    float: left;
    margin-right: 8px;
    border-radius: 2px;
    border: 1px solid #ededed;
    width: 20px;
    margin-top: 3px;

}

#bookmarks_sidebar .bookmarked_player:last-child {
    border-bottom: none !important;
}


#columns {
    /*display: flex;*/
    width: calc(100% - 340px);
    transition: 0.5s;
    float: left;
    margin-left: 10px;
}

.player_chosen_show_aside #columns {
    width: calc(100% - 340px);
    transition: 0.5s;
    float: left;
    margin-left: 10px;
}


.player_chosen_hide_aside #columns {
    width: calc(100% - 20px);
    margin-left: 0;
}

#graph_inside_rectangle_general {
    justify-content: space-between; /* Space out the children evenly */
    align-items: center; /* Align items vertically in the center */
    max-width: 100%; /* Ensure it doesn't exceed the width of the page */
}

#graph2_general, #graph1_general {
    float: left;
    width: 50%;
}

#first_half {
    height: 800px;
    position: relative;
}

.Select--multi .Select-value-icon {
    cursor: pointer;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    border-right: 1px solid #ffffff00;
    /* border-right: 1px solid rgba(0,126,255,.24); */
    padding: 3px;
    padding-right: 6px;
    height: 24px;
    padding-left: 8px;

}

Select--multi .Select-value-label {
    border-bottom-right-radius: 7px !important;
    border-top-right-radius: 7px !important;
    cursor: default;
    padding: 2px 9px 0px 8px;
    padding-left: 0 !important;
    font-size: 13px;
}

.Select--multi .Select-value {
    background-color: #fff;
    background-color: rgba(0, 148, 229, 0.07);
    border-radius: 7px;
    border: 1px solid rgba(46, 62, 79, 0.16);
    border: rgba(0, 137, 239, 0.18);
    color: #006cbb !important;
    display: inline-block;
    font-size: .9em;
    line-height: 1.4;
    margin-left: 5px;
    margin-top: 5px;
    vertical-align: top;
}

#attributes_dropdown .Select-control {
    width: 100% !important;
    border-radius: 8px !important;
    /*border:1px solid #ededed !important;*/
    border: none !important;
    margin: auto;
    box-shadow: none;
}

.chose_attributes {
    margin: 40px 0;
    height: 70px;
    padding: 0 20px;
}

.chose_attributes label {
    overflow: hidden;
    width: 150px;
    font-size: 13px;
    padding-top: 10px;
    float: left;
    padding-right: 10px;
}

.overflow-hidden {
    overflow: hidden;
}

.clear {
    clear: both;
}

#compare_bookmarks {
    /*position: fixed;*/
    z-index: 100000000;
    /*right: 40px;*/
    /*bottom: 40px;*/
    background: #f7f7f7;
    line-height: 20px;
    padding: 10px 18px;
    color: #000;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #ededed;
    margin: 40px auto;
    display: block;
    width: fit-content;
    transition: 0.4s;
    display: none;
}

#compare_bookmarks.visible {
    display: block !important;
    opacity: 1;
}

#compare_bookmarks.hidden {
    display: none;
    opacity: 1;
}

#compare_bookmarks:hover {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    color: #1f9d51;
}

#compare_bookmarks span {
    float: left;
    width: 20px;
    height: 20px;

    background-position: center;
    background-size: cover;
    margin-right: 10px;
}

#position_container {
    position: relative;
}

#position {
    display: block;
    padding-bottom: 50px;
    text-align: left;
    padding-left: 30px;
    padding-top: 25px;
}

#plot_legends {
    position: absolute;
    right: 30px;
    padding: 10px;
    border-radius: 5px;
    top: 10px;
}

#plot_legends .legend-color div {
    width: 12px;
    float: left;
    margin-right: 10px;
    border-radius: 4px;
    height: 12px;

}

#plot_legends .legend-color {
    display: block;
    padding: 3px 0;
    overflow: hidden;
}

#plot_legends .legend-color span {
    display: block;
    float: left;
    line-height: 13px;
}

#plot_legends {
    font-size: 12px;
}

.hidden {
    display: none !important;
}

#bookmark_clicked_player.bookmarked {
    color: #fff;
    background: #f8b305;
    /*box-shadow: 0 0 9px #f8b30587;*/
    transition: 0.4s;
    border-color: #f8bf05;
}

#go_back {
    float: right;
    background: #f7f7f7;
    font-size: 13px;
    padding: 9px 6px;
    margin: 10px 0;
    border: 1px solid #ededed;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.5s;
    color: #000000d1;
}

#go_back span {
    float: left;
    line-height: 16px;
    margin-right: 3px;
    font-size: 20px;
}

#go_back:hover {
    background: #5eaf01;
    color: #fff;
    border-color: #5eaf01;
}

.final-player .invalid_image {
    width: 50px;
    height: 50px;
    padding: 0;
    float: left;
}

.final-player {
    display: block;
    border-bottom: 1px dashed #ededed;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.final-player:last-child {
    border-bottom: none;
}

.final-player .invalid_image img {
    width: 40px;
}

.final-player div {
    float: left;
    font-size: 12px;
    line-height: 15px;
    margin-left: 10px;
}

.final-players-container {
    overflow: hidden;
    margin-bottom: 20px;
}

.final-player div h4 {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 3px;
}

.final-player ul {
    display: block;
    /*margin-top: 10px;*/
}

.final-player ul li {
    list-style: none;
    display: block;
    float: left;
    color: #333333;
    font-weight: 500;
    margin-right: 10px;
}

.final-player:first-child {
    /*border-left: 2px solid #1f9d51;*/
}

.cards_yellow {
    position: absolute;
    right: 10px;
    bottom: 35px;
    background: #e1321d;
    color: #fff;
    width: 14px;
    text-align: center;
    border-radius: 0 4px 4px 0;
    font-size: 11px;
    height: 14px;
    display: block;
    font-weight: bold;
}

.cards_red {
    position: absolute;
    right: 24px;
    bottom: 35px;
    background: #ffb802;
    color: #fff;
    width: 14px;
    text-align: center;
    border-radius: 4px 0 0 4px;
    font-size: 11px;
    height: 14px;
    font-weight: bold;
    display: block;
}

#select_player_name_chosen {
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    width: 400px;
    margin-left: 30px;
    line-height: 25px;
    margin-top: 10px;
    font-size: 13px;
}

#select_player_name_chosen .Select-control {
    border: none;
    margin-top: 4px;
    border-radius: 13px;
}

#select_player_name_chosen .Select-control:hover {
    box-shadow: none;
}

#remove_pcp_filters {
    background: rgba(252, 181, 193, 0.33);
    /*background: #b80a1e;*/
    color: #b80a1e;
    border: none;
    padding: 2px 10px;
    font-family: 'Roboto';
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s;
    position: absolute;
    right: 66px;
    top: 9px;
}

#remove_pcp_filters:hover {
    /*background: rgba(252, 181, 193, 0.33);*/
    /*background: #b80a1e;*/
    background: #b80a1e;
    color: #fff;
    border: none;
    padding: 2px 10px;
    font-family: 'Roboto';
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s;
}