@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f8f8f8;
    font-family: 'Roboto', sans-serif;
}

#app_container {
    width: calc(100% - 60px);
    margin: 30px;
}

input {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 32px;
}


#logo {
    width: 78px;
    height: 78px;
    margin: 20px auto;
    z-index: 20;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 76px;
    left: calc(50% - 39px);
    /*background-position-x: 44%;*/
    /*background-position-y: 44%;*/
    /*box-shadow: 0 0 4px #00000038;*/
    border-radius: 100%;
}


#search_box {
    background: #fff;
    position: relative;
    display: block;
    margin: 70px auto;
    width: 800px;
    padding: 20px;
    padding-top: 190px;
    border: 1px solid #ededed;
    border-radius: 12px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.07);
}

#search_box_header {
    position: absolute;
    left: 0;
    background-size: cover;
    background-position: center;
    top: 0;
    border-radius: 12px 12px 0 0;
    width: 100%;
    z-index: 0;
    height: 150px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);

}

#search_input_container {
    position: relative;
    width: 80%;
    margin: 40px 10%;
}

#search_input_container .Select-control {
    display: block;
    line-height: 30px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(229, 229, 229, 0.7);
    font-size: 14px;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

#search_input_container .Select-menu-outer {
    border-radius: 12px;
    overflow: hidden;
    margin-top: 5px;
    font-size: 13.5px;
    border-color: #ededed;
}

#search_input_container .Select-control .Select-placeholder, #search_input_container .Select-control .Select-value {
    line-height: 40px;
}

#little_search_icon {
    width: 25px;
    height: 25px;
    background-size: cover;
    position: absolute;
    right: 15px;
    top: 7px;
}

.position_badge {
    background: #009688;
    color: #fff;
    margin: 0 5px;
    font-size: 11px;
    padding: 2px 6px;
    border-radius: 9px;
    font-weight: 600;
}

.search_result {
    display: block;
    padding: 25px 15px;
    border-bottom: 1px dashed #c9c9c9
}

.search_result:last-child {
    border-bottom: none;
}

.search_result .flag {
    width: 22px;
    border-radius: 3px;
}

#search_no_result {
    display: block;
    text-align: center;
    padding: 35px 0;
    font-size: 21px;
    color: #0000004f;
    font-weight: 700;
}
